<%= form_for :candidate, url: candidates_path do |f| %>
  <p>
    <%= f.label :FirstName %><br>
    <%= f.text_field :FirstName %>
  </p>
 
  <p>
    <%= f.label :LastName %><br>
    <%= f.text_field :LastName %>
  </p>

  <p>
    <%= f.label :EmailAddress %><br>
    <%= f.text_field :EmailAddress %>
  </p>

  <p>
    <%= f.label :PhoneNumber %><br>
    <%= f.text_field :PhoneNumber %>
  </p>

  <p>
    Add an employer
  </p> 
  <p>
    <%= f.submit %>
  </p>
<% end %>